
body {
  background-color: #99BDDF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding:10px;
}

.jumbotron {
  text-align: center;
  background-color: #E2E2E2;
  color:black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #333;
}

.hour {
  background-color: #E2E2E2;
  color: #000000;
  border-radius: 15px 0 0 15px;
  padding-top: 10px;
}

.past {
  background-color: #9A9CC2;
  color: #333;
}

.present {
  background-color: #F0E9E9;
  color: #333;
}

.future {
  background-color: #CBBBD6 ;
  color: #333;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #2F4F75;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.inner {
  margin-top: 30px;
  color: #333;
}