
body {
  background-color: #e07a5f;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding:10px;
}

.jumbotron {
  text-align: center;
  background-color: #3d405b;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid #81b29a;
}

.display-4 {
  color: #e07a5f;
}
.quote {
  color: #81b29a;
}

#currentTime, #currentDay {
  color: #f2cc8f;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #333;
}

.hour {
  background-color: #faedcd;
  color: #000000;
  border-radius: 15px 0 0 15px;
  padding-top: 10px;
}

.past {
  background-color: #f2cc8f;
  color: #333;
}

.present {
  background-color: #81b29a;
  color: white;
}

.future {
  background-color: #f4f1de ;
  color: #333;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #3d405b;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.inner {
  margin-top: 30px;
  color: #faedcd;
}